<mat-grid-list cols="2">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-header>Toon</mat-card-header>
        <mat-card-content>
          <span class="flex-spacer"></span>
            <span id="toonSpan">&euro;0</span>
          <span class="flex-spacer"></span>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-header>Bob</mat-card-header>
      <mat-card-content>
        <span class="flex-spacer"></span>
          <span id="bobSpan">&euro;0</span>
        <span class="flex-spacer"></span>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
